/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

.life {
  height: 25px;
  width: 25px;
  background-color: limegreen;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: -4px;
  margin-top: 8px;
}

.life.lost {
  background-color: firebrick;
}

#timerDisplay {
  font-size: 15px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#gameInfoArea {
  display: flex;
  justify-content: flex-start;
}

button {
  padding: 10px;
  border-radius: 10px;
}

img {
  width: 100px;
  height: 100px;
  visibility: hidden;
}

#startBtn {
  margin-right: -1px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden {
  display: none;
}

#button1 {
  background: pink;
}
#button1:active, #button1.lit {
  background: red;
}

#button2 {
  background: lightblue;
}
#button2:active, #button2.lit {
  background: blue;
}

#button3 {
  background: lightgreen;
}
#button3:active, #button3.lit {
  background: green;
}

#button4 {
  background: lightyellow;
}
#button4:active, #button4.lit {
  background: yellow;
}

#button5 {
  background: orange;
}
#button5:active, #button5.lit {
  background: sienna;
}

#button6 {
  background: plum;
}
#button6:active, #button6.lit {
  background: darkviolet;
}